<!DOCTYPE html>
<html>
  <head>
    <title>Research</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <style>
      .footer {
        color:#fff;
        padding: 0.5rem;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        opacity: 0.3;
      }

      @media (max-width: 576px) {
        .footer {
          font-size: 0.3rem;
        }
      }
    </style>
  </body>
</html>
