<%- include('partials/header') %>

<style>
  body {
    margin: 0 0 30rem 0;
    background-image: linear-gradient(to bottom, #f1f6f9, #9ba4b5);
    font-family:'Times New Roman', Times, serif;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ba4b5;
    margin-top: 0px;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    height: 50px;
    margin-right: 10px;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .navbar-brand:hover {
    color: #fff;
  }

  .navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .navbar-toggler-label {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
  }

  .navbar-toggler-label span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: background-color 0.3s;
  }

  #navbar-toggle:checked ~ .navbar-toggler-label span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    background-color: #fff;
  }

  #navbar-toggle:checked ~ .navbar-toggler-label span:nth-child(2) {
    opacity: 0;
  }

  #navbar-toggle:checked ~ .navbar-toggler-label span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    background-color: #fff;
  }
  #navbar-toggle {
  display: none;
}

  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #9ba4b5;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  #navbar-toggle:checked ~ .navbar-collapse {
    opacity: 1;
    pointer-events: auto;
    background-color: #303D58;
  }

  .navbar-link {
    padding: 5px 0 5px 0;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
   color:#fff;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .navbar-link:hover {
    color: #fff;
  }

  .card {
    background-image: linear-gradient(to bottom, #394867, #212a3e);
    border-radius: 20px;
    margin-top: 6rem;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;

  }

  .card-body {
    font-size: 24px;
  }

  .btn-secondary {
    background-color: rgb(28, 192, 28);
    color: #fff;
    font-size: 20px;
  }

  .btn-secondary:hover {
    background-color: #3a943a;
  }

  .btn-primary {
    color: #fff;
    font-size: 20px;
  }

  .login {
    color: #fff;
  }

  .lable {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
</style>

<div class="navbar">
  <div class="navbar-logo">
    <img
      style="position: relative; bottom: 5px"
      src="/photos/logo.png"
      alt="Logo"
    />
    <h3 style="font-weight: bold; cursor: pointer; ">
      All In One Card
    </h3>
  </div>

  <div class="navbar-right">
    <div class="navbar-toggler">
      <input type="checkbox" id="navbar-toggle" />
      <label for="navbar-toggle" class="navbar-toggler-label">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="navbar-collapse">
        <a
          style="text-decoration: none;"
          href="/About"
          class="navbar-link"
          >About</a
        >
        <a
          style="text-decoration: none; "
          href="/"
          class="navbar-link"
          >Home</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          If you encounter any difficulties or have any inquiries, please feel
          free to contact us via email or phone. We are here to assist you.
          Email:
          <a href="mailto:nabazesmail567@gmail.com">nabazesmail567@gmail.com</a
          ><br />
          Phone: <a href="tel:+9647501778819">+964 750 177 8819</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
